<nav class="navbar navbar-light bg-primario fixed-top ">
    <div class="container-fluid">
      <a class="navbar-brand" href="../../index.ejs"><h4 class="font-weight-bold font-italic">Salir<i class="fa-solid fa-person-running"></i></h3></a>
        <a class="navbar-brand" href="../../Administrador/indexAdm.ejs"><h4 class="font-weight-bold font-italic">HOME<i class="fa-solid fa-house"></i></h3></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h4 class="offcanvas-title  text-white" id="offcanvasNavbarLabel  ">¿Que operación desea realizar</h4>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../../index.ejs"><P class="text-white ">Salir<i class="fa-solid fa-person-running"></i></P></a>
            </li>

            <li class="nav-item" > 
              <a class="nav-link " href="../../Administrador/tasks.ejs"><P class="text-white ">Gestionar Tareas  <i class="fa-solid fa-list-check"></i></P></a>
            </li>

            <li class="nav-item" > 
              <a class="nav-link " href="../../Administrador/empleados.ejs"><P class="text-white ">Gestionar Empleados     <i class="fa-solid fa-address-book"></i></P></a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="../../Administrador/inventario.ejs"><P class="text-white ">Gestionar Inventario     <i class="fa-solid fa-book-atlas"></i></P></a>
              </li>

              <li class="nav-item">
                <a class="nav-link  " href="#"><P class="text-white ">Gestionar Proveedores 
 
 
                       <i class="fa-solid fa-handshake"></i> </P></a>
              </li>

          
            
          </ul>
         
        </div>
      </div>
    </div>
  </nav>