<%- include('partials/_heater') %>
<%- include('partials/mensajes/_mensajesSignup') %>


<h1 class="bs-gray-dark mt text-white text-uppercase text-center">¿Cómo quieres ingresar?</h1>

<div class="container">
     

     <div class="row container-index">
      <div class="col-md-6">
        <div class="card bg-primario ">
          <div class="card-body text-center">
            <a href="#"></a>
            <h3 class="text-uppercase text-bold">Cliente</h3>
            <i class="fa-solid fa-user"></i>
            
          </div>
        </div>
      </div>
  
     
      <div class="col-md-6 margint">
        <a href="Administrador/signinAdm.ejs">

          <div class="card bg-primario ">
            <div class="card-body text-center  ">
              <h3 class="text-uppercase">Administrador</h3>
              <i class="fa-solid fa-user-gear"></i>
              
            </div>
          </div>

        </a>
     
      </div>
  

     </div>
    
</div>
  



<%- include('partials/_footer') %>
